<div class="card text-white bg-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body">
    <h5 class="card-title">listado de clientesa</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.fecha}}</td>
          <td>{{cliente.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
